/* Define Root Variables */
:root {
    /* colors */
    --prim: #6360ff;
    --sec: #8785ff;
    --primTransparent: rgba(27, 35, 120, 0.372);
    --card: #1d1d1f;
    --icon: #17171a;
    --iconBackground: #18182f;
    --outline: #87878740;
    --subheadingColor: rgba(255, 255, 255, 0.601);
    --hoverBackground: rgba(72, 91, 255, 0.15);
    --cardBorderColor: #363637;
    --hoverBlur: drop-shadow(0px 0px 8px rgba(99, 96, 255, 0.5));
    --transitionHover: 500ms background-color ease-in-out, 500ms border ease-in-out;
  
    /* border formatting */
    --border: 3px solid var(--outline); /* border for large containers */
    --cardBorder: 2px solid var(--cardBorderColor); /* border for cards and tags */
    --containerBorderRadius: 12px;
    --cardBorderRadius: 6px;
    --borderHover: 3px solid var(--prim);
  
    /* general spacing */
    --smallGap: 8px; /* small gap */
    --listGap: 18px; /* list of elements */
    --containerGap: 28px; /* cards of elements */
  
    /* text */
    --title: 48px;
    --heading: 28px;
    --subparagraph: 20px;
    --paragraphs: 18px;
    --textColor: #ffffffc5;
    --textGradient: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(153, 153, 153, 1) 100%);
  }
  
  /* General Styles */
  body {
    font-family: 'Source Serif Pro', serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
  }
  p, li {
    color: var(--textColor);
    font-size: var(--paragraphs);
    line-height: 1.8;
    font-weight: 400;
  }
  h1 {
    font-size: var(--title);
    font-weight: normal;
    background: var(--textGradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h2 {
    font-size: var(--heading);
  }
  
  .max-w-screen-xl {
      max-width: 1280px;
  }
  .container {
      max-width: 1024px;
  }
  
  /* Hover Effects */
  a {
    text-decoration: none;
    transition: color 0.25s ease;
  }
  a:hover {
    color: var(--prim);
  }
  .navbar a {
    transition: color 0.3s ease-in-out;
  }
  .navbar a:hover {
    color: #00FFFF; /* Change to cyan on hover */
  }
  
  .project-thumbnail {
    transition: transform 0.3s ease-in-out;
  }
  .project-thumbnail:hover {
    transform: scale(1.02);
  }
  .project-title {
    transition: color 0.3s ease-in-out;
  }
  .project-title:hover {
    color: #00FFFF; /* Change to cyan on hover */
  }
  
  /* Dropdown */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1f2937;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    grid-template-columns: 1fr 1fr 1fr; /* Create two columns */
    gap: 10px; /* Space between items */
    padding: 10px; /* Padding around items */
    font-family: 'Source Serif Pro', serif;
  }
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #00ffff30;
  }
  .dropdown:hover .dropdown-content {
    display: grid;
  }
  .dropdown:hover .dropbtn {
    color: #00FFFF;
  }
  
  /* Tabs */
  .tabs {
    border-bottom: 1px solid #4b5563; /* Gray border color */
  }
  .tabs button {
    color: #9ca3af; /* Text gray color */
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 10px 20px;
    transition: all 0.3s;
  }
  .tabs button:hover,
  .tabs button[aria-selected="true"] {
    color: #00FFFF; /* Cyan text color */
    border-bottom-color: #00FFFF; /* Cyan border color */
  }
  .tab-content {
    background-color: #1f2937; /* Slightly lighter dark background color */
    color: #e2e8f0; /* Light gray text color */
    padding: 20px;
    border-radius: 8px;
    margin-top: 16px;
  }
  
  /* Container Styles */
  .container {
    padding: var(--containerGap);
    border: var(--border);
    border-radius: var(--containerBorderRadius);
  }
  .card {
    padding: var(--smallGap);
    border: var(--cardBorder);
    border-radius: var(--cardBorderRadius);
  }
  .card:hover {
    border: var(--borderHover);
    filter: var(--hoverBlur);
  }
  
  /* Animations */
  @keyframes hoverFloat {
    0% { transform: translatey(0px); }
    50% { transform: translatey(-3px); }
    90% { transform: translatey(0px); }
    100% { transform: translatey(-1px); }
  }
  
  @keyframes scroll {
    0% { left: 100%; }
    100% { left: -100%; }
  }
  
  /* Buttons */
  .btn {
    background-color: var(--prim);
    padding: 16px 30px;
    border-radius: var(--cardBorderRadius);
    font-weight: 500;
    font-size: 22px;
  }
  .btn:hover {
    background-color: #fff;
    color: var(--prim);
  }
  